@font-face {
    font-family: 'Chess';
    src: url('assets/chess.ttf');
}

$fontSize: 70px;

.two-dimensional-board {
    text-align: center;

    .board {
        font-family: 'Chess', monospace;
        font-size: $fontSize;
        padding-bottom: 20px;

        .row {
            
            .square {
                float: left;
                height: $fontSize;
                width: $fontSize;
                cursor: pointer;
                outline: none;

                &:hover {
                    font-weight: bold;
                }

                &.selected {
                    font-weight: bold;
                    color: blue;
                }

                /*&.blank:hover {
                    background: rgba(0, 0, 0, .1);
                }*/
            }
        }
    }
}